{% extends "base.html" %}

{% block head %}
    <meta charset="utf-8">
    <title>jQuery UI Datepicker - Default functionality</title>

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">

    <script src="{{ STATIC_PREFIX }}js/tag-it.js" type="text/javascript" charset="utf-8"></script> 

    <script>
    $(function() {
        $("#input-date").datepicker();

        var musicianTags = {{ musicians|safe }}
        $("#input-musicians").tagit({
            availableTags: musicianTags,
        });

        var venueTags = {{ venues|safe }}
        $("#input-venues").tagit({
            availableTags: venueTags,
        });

    });
    </script>
{% endblock head %}

{% block content-margins %}

    <form class="center-it registration-form" enctype="multipart/form-data" action="" role="form" method="post">
        {% csrf_token %}

        <legend>Post an event</legend>

        <div class="form-group">
            <label for="input-subject">Subject</label>
            {{ form.subject }}
        </div>

        <div class="form-group">
            <label for="input-image">Upload image/flyer</label>
            {{ form.flyer }}
        </div>

        <div class="form-group">
            <label for="input-date">Date</label>
            {{ form.date }}
        </div>

        <div class="form-group">
            <label for="input-location">Location</label>
            {{ form.location }}
        </div>

        <div class="form-group">
            <label for="input-body">Body</label>
            {{ form.body }}
        </div>

        <div class="form-group">
            <label for="input-musicians">Tag Musicians</label>
            {{ form.musicians }}
        </div>

        <div class="form-group">
            <label for="input-venues">Tag Venues</label>
            {{ form.venues }}
        </div>

        <button class="btn btn-primary" type="submit">Post</button>
    </form>
{% endblock content-margins %}
