{% extends "base.html" %}

{% block head %}
    <meta charset="utf-8">
    <title>jQuery UI Datepicker - Default functionality</title>

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">

    <script src="{{ STATIC_PREFIX }}js/tag-it.js" type="text/javascript" charset="utf-8"></script> 

    <script>
    $(function() {
        $("#input-date").datepicker();

        var musicianTags = {{ musicians|safe }}
        $("#input-musicians").tagit({
            availableTags: musicianTags,
        });

        var venueTags = {{ venues|safe }}
        $("#input-venues").tagit({
            availableTags: venueTags,
        });

    });
    </script>
{% endblock head %}

{% block content-margins %}

    <form class="center-it" enctype="multipart/form-data" action="" role="form" method="post">
        {% csrf_token %}

        <p>Post an event</p>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="input-subject">Subject</label>
                    {{ form.subject }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="input-image">Upload image/flyer</label>
                    {{ form.flyer }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="input-date">Date</label>
                    {{ form.date }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="input-musicians">Tag Musicians</label>
                    {{ form.musicians }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="input-location">Location</label>
                    {{ form.location }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="input-venues">Tag Venue</label>
                    {{ form.venues }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="input-opens">Open Time</label>
                    {{ form.opens }}
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="input-starts">Start Time</label>
                    {{ form.starts }}
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="input-cost">Cost</label>
                    {{ form.cost }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="input-body">Body</label>
                    {{ form.body }}
                </div>
            </div>
        </div>

        <button class="btn btn-primary" type="submit">Post</button>
    </form>
{% endblock content-margins %}
