{% extends "base.html" %}

{% block content-margins %}

    <div class="row">
        <div class="col-sm-5">
            <div class="media">
                <img class="post-image media-object" src={{ MEDIA_PREFIX }}{{ post.flyer.image }} />
            </div>
        </div>

        <div class="col-sm-7">
            <legend class="green source600">
                {{ post.date|date:"l"|upper }}, {{ post.date|date:"F d"|upper }} 
                <span class="pull-right">
                    {% if user.is_authenticated %}
                        {% if attending %}
                            <a class="btn btn-default" href="{% url 'posts_attend' post.id %}">
                                Attending
                            </a>
                        {% else %}
                            <a class="btn btn-primary" href="{% url 'posts_attend' post.id %}">
                                Attend
                            </a>
                        {% endif %} 
                    {% endif %}
                    {% if post.created_by.user == user %}
                        <a class="btn btn-primary" href="{% url 'posts_edit' post.id %}">
                            Edit Post
                        </a>
                    {% endif %}
                </span>
            </legend>
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="source600 post-title">
                        {{ post.subject }}
                    </h3>

                    <div class="shoutbox-post-created-date">
                        {{ post.location }}
                    </div>

                    <div>
                        <b>POSTED BY </b>
                        {% if post.created_by %}
                            <a href="{% url 'listeners_profile' post.created_by.user.username %}">
                                {{ post.created_by.display_name }}
                            </a>
                        {% endif %}
                        </a>
                    </div>

                    <div>
                        <b>MUSICIANS </b>
                        {% for musician_tag in musician_tags %}
                            {% if musician_tag.tagged_musician %}
                                <a href="{% url 'musicians_profile' musician_tag.tagged_musician.username %}">
                                    {{ musician_tag.tagged_musician.display_name }}
                                </a>
                            {% else %}
                                {{ musician_tag.string_used }}
                            {% endif %}

                            {% if not forloop.last %}|{% endif %}

                        {% empty %}
                            no musicians tagged
                        {% endfor %}
                    </div>
                </div>

                <div class="col-sm-6">
                    <div>
                        <b>VENUE </b> 
                        {% for venue_tag in venue_tags %}
                            {% if venue_tag.tagged_musician %}
                                <a href="{% url 'venues_profile' venue_tag.tagged_venue.username %}">
                                    {{ venue_tag.tagged_venue.display_name }}
                                </a>
                            {% else %}
                                {{ venue_tag.string_used }}
                            {% endif %}

                            {% if not forloop.last %}|{% endif %}
                        {% empty %}
                            no venue tagged
                        {% endfor %}
                    </div>

                    <div>
                        <div><b>OPENS </b> {{ post.opens }}</div>
                        <div><b>STARTS </b> {{ post.starts }}</div>
                        <div><b>COST </b> {{ post.cost }}</div>
                    </div>
                </div>
            </div>
        
            <div class="row" style="margin-top: 12px;">
                <div class="col-sm-12">
                    <legend style="margin-bottom: 12px;"></legend>
                    <div class="post-body">
                        {{ post.body|urlize|linebreaks }}
                    </div>
                </div>
            </div>
        </div>
    </div></div>

{% endblock content-margins %}
