{% extends "base_menu.html" %}

{% block content-margins-menu %}

    <div class="pure-g">
    {% for p in object_list %}
        <div class="pure-u-1-3">
            <div class='l-box'>
                <div>
                    <a href="{% url 'posts_post' p.id %}"><img src={{ MEDIA_PREFIX }}{{ p.flyer.image }}></a>
                </div>
                <div>
                    <a href="{% url 'posts_post'  p.id %}">{{ p.subject }}</a>
                </div>
                <div>{{ p.location }}</div>
                <div>
                    {{ p.date }}
                    {% if p.created_by.user == user %}
                        <a class="pull-right" href="{% url 'posts_edit' p.id %}">(edit)</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock content-margins-menu %}
