{% extends "base_menu.html" %}

{% block content-margins-menu %}

    {% for p in object_list %}
        <div class="l-box">
            <div class="media">
                <div class="pull-left">
                    <a href="{% url 'posts_post'  p.id %}">{{ p.subject }}</a>
                    {% if p.created_by.user == user %}
                        - <a href="{% url 'posts_edit' p.id %}">(edit)</a>
                    {% endif %}
                    <div>{{ p.location }}</div>
                    <div>
                        {{ p.date }}
                    </div>
                </div>
                <a class="pull-right" href="{% url 'posts_post' p.id %}">
                    <img class="media-object list-image" src={{ MEDIA_PREFIX }}{{ p.flyer.image }}>
                </a>
            </div>
        </div>
    {% endfor %}
{% endblock content-margins-menu %}
