{% extends "base.html" %}

{% block content-margins %}

    <div class="l-box">
        <h4>Your Uploads</h4>

        <div class="row">
            {% for image in uploaded_images %}
                <div class="col-sm-3" style="margin-bottom: 32px;">
                    <a href="{% url 'photo' image.id %}">
                        <img class="media-object list-image center-it" src="{{ MEDIA_PREFIX }}{{ image.image }}">
                    </a>
                </div>
            {% endfor %}
        </div>

        <a class="pull-right" href="{% url 'uploaded_photos' user.username %}">See all &gt;</a>
    </div>

    <div class="l-box">
        <h4>Your Pages</h4>

        <div class="row">
            {% for image in uploaded_images %}
                <div class="col-sm-3" style="margin-bottom: 32px;">
                    <a href="{% url 'photo' image.id %}">
                        <img class="media-object list-image center-it" src="{{ MEDIA_PREFIX }}{{ image.image }}">
                    </a>
                </div>
            {% endfor %}
        </div>

        <a class="pull-right" href="">See all &gt;</a>
    </div>
{% endblock content-margins %}
