{% extends "base.html" %}

{% block content-margins %}

    <div class="l-box">
        
        <div class="row">
            {% for image in uploaded_images %}
                <div class="col-sm-3" style="margin-bottom: 32px;">
                    <a href="">
                        <img class="media-object list-image center-it" src="{{ MEDIA_PREFIX }}{{ image.image }}">
                    </a>
                    <div>
                        <p style="margin-top: 0px;">
                            <div><a href=""><b>{{ image.image }}</b></a></div>
                            <div class="gray-font"><i>{{ image.created_date|date:"F d, o" }}</i></div>
                            <div>{{ image.created_by.user.username }}</div>
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div>
            {% if uploaded_images.has_previous %}
                <a href="?page={{ uploaded_images.previous_page_number }}">&lt; newer images</a>
            {% endif %}

            <div class="pull-right">
                {% if uploaded_images.has_next %}
                    <a href="?page={{ uploaded_images.next_page_number }}">older images &gt;</a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock content-margins %}
