* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0 auto 0 auto;
  line-height: 1.7em;
  background-color: #eee;
}
.l-box {
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.9);
 
}
.header {
  margin-bottom: 3.4em;
}
.header .pure-menu {
  padding: 0.5em;
}
.header .pure-menu li a:hover,
.header .pure-menu li a:focus {
  background: none;
  border: none;
  color: #aaa;
}
body .primary-button {
  background: #02a6eb;
  color: #fff;
}
.user-link {
  color: #000000;
}
.splash {
  margin: 2em auto 0;
  padding: 3em 0.5em;
  background-size: cover;
}
.splash .splash-head {
  font-family: wire-one, sans-serif;
  font-style: italic;
  font-size: 400%;
  margin: 0em 0;
  line-height: 1.2em;
}
.splash .splash-subhead {
  color: rgba(0, 0, 0, 0.9);
  font-weight: 300;
  line-height: 1.4em;
}
.splash .primary-button {
  font-size: 150%;
}
.content p {
  font-family: cabin, sans-serif;
}
.content .content-subhead {
  color: #999;
  padding-bottom: 0.3em;
  text-transform: uppercase;
  margin: 0;
  border-bottom: 2px solid #eee;
  display: inline-block;
}
.content .content-ribbon {
  border-bottom: 1px solid #eee;
  margin: 1.4em;
}
.ribbon {
  text-align: center;
  padding: 2em;
  color: #999;
}
.ribbon h2 {
  display: inline;
  font-weight: normal;
}
.footer {
  background: #111;
  color: #666;
  text-align: center;
  padding: 1em;
  font-size: 80%;
}

.content-wrapper {
	width: 100%;
        height: 100%;
}
.content-wrapper-margins {
	width: 976px;
	margin: 0 auto 0 auto;

        border-left: 1px solid #b7b7b7;
        border-right: 1px solid #b7b7b7;
}
.actual-content {
    width: 850px;
    
    margin-left: auto;
    margin-right: auto;

    padding-top: 2em;
}
.center-it {
	margin-left: auto;
	margin-right: auto;
}

.posts_list_partial {
    padding-bottom: 1em;
}

