/* START OF STYLING */

.source600 {
    font-family: 'Source Sans Pro', sans-serif; font-weight: 600;
}
.source300 {
    font-family: 'Source Sans Pro', sans-serif; font-weight: 300;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body, html {
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}
body {
    margin: 0 auto 0 auto;
    line-height: 1.7em;

    /*background: #efebe3;*/
}

.navbar-red {
    background: rgb(194, 47, 47); 
}
.navbar-maroon {
    background: rgb(100, 7, 7);
    /*background: rgb(174, 37, 37);*/
}

.l-box {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;

    margin: 1em;

    background-color: rgba(255, 255, 255, 0.9);
    
    /*border-style: solid;
    border-width: 1px;
    border-color: rgb(183, 183, 183);*/
}

.wrapper {
    min-height: 100%;
    height: auto;

    margin: 0 auto -64px;

    padding: 0 0 64px;
}
.content-wrapper-margins {
    max-width: 1080px;
    margin: 0 auto 0 auto;
}

.center-it {
    margin-left: auto;
    margin-right: auto;
}
.vertical-center-it {
    height: 300px;
    position: relative;
}

.registration-form {
    width: 400px;
}

/* POST LISTING */
.list-image {
    max-height: 150px;
}
.post-title {
    margin-top: 0;
    margin-bottom: 0; 
}

/* POST */
.post-image {
    margin-right: 12px;
}

/* PROFILE */
.display-name h2 {
    margin-bottom: 0;
    color: rgb(42, 78, 101);
}
.location {
    color: rgb(72, 151, 212);
}
.shoutbox-post-image {
    width: auto;
    height: 80px;
}
.shoutbox-post-display-name {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
.shoutbox-post-created-date {
    margin-top: 0;
    color: gray;
}

.navbar .nav > li > a {
    color:  white;
}

.carousel-image {
    max-height: 200px;
    width: auto;
}
.social-media-icon {
    height: 24px;
    width: 24px;
}
.social-media-icon-gmail {
    height: 18px;
    width: 24px;
}
.social-media-spacing {
    line-height: 2em;
}

.divider {
    margin-top: 2em;
    margin-bottom: 2em;

    padding-top: .2em;
    padding-bottom: .2em;
}
.l-box-header {
    padding-top: .2em;
    padding-bottom: .2em;
}
.gray {
    color: white;
    background: #c6c6c6;
}
.green {
    color: white;
    background: #2ba9b7;
}
#gallery {
    margin-top: 24px;
    margin-bottom: 24px;
}
.blurb {
    margin-top: 2em;
    margin-bottom: 2em;
}

/* REGISTRATION */
#registration-blurb {
    margin: auto;
    width: 200px;
    font-size: 150%;
    text-align: center;
}

.l-box > .media {
    margin-top: 1em;
}

/* FOOTER */
#footer {
    height: 64px;
    padding: 1.5em;

    background: #111;
    color: #666;
    text-align: center;
    font-size: 80%;
}
