* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
    text-decoration: none;
}
body, html {
    height: 100%;
}
body {
    margin: 0 auto 0 auto;
    line-height: 1.7em;
}

.pull-right {
    display: inline-block;
    float:right;
}

.l-box {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;

    margin: 1em;

    background-color: rgba(255, 255, 255, 0.9);
    
    border-style: solid;
    border-width: 1px;
    border-color: rgb(183, 183, 183);
}

.user-link {
  color: #000000;
}
.splash {
  margin: 2em auto 0;
  padding: 3em 0.5em;
}
.wire-font {
    margin: 0;
    padding: 0;
    font-family: wire-one, sans-serif;
    font-style: italic;
    font-size: 150%;
}
.splash-head {
  font-family: wire-one, sans-serif;
  font-style: italic;
  font-size: 400%;
  margin: 0em 0;
  line-height: 1.2em;
}
.splash-subhead {
  color: rgba(0, 0, 0, 0.9);
  font-weight: 300;
  line-height: 1.4em;
}
.content p {
  font-family: cabin, sans-serif;
}
.content .content-subhead {
  color: #999;
  padding-bottom: 0.3em;
  text-transform: uppercase;
  margin: 0;
  border-bottom: 2px solid #eee;
  display: inline-block;
}
.content .content-ribbon {
  border-bottom: 1px solid #eee;
  margin: 1.4em;
}

.footer {
    margin-top: 32px;
    padding: 1em;

    background: #111;
    color: #666;
    text-align: center;
    font-size: 80%;
}

.content-wrapper {
    width: 100%;
}
.content-wrapper-margins {
    max-width: 1080px;
    margin: 0 auto 0 auto;
}
.actual-content {
    max-width: 900px;
    
    margin-left: auto;
    margin-right: auto;

    padding-top: 2em;
}
.center-it {
    margin-left: auto;
    margin-right: auto;
}

.posts_list_partial {
    padding-bottom: 1em;
}

.registration-form {
    width: 400px;
}


/* new mockups */
.navbar-red {
    background: rgb(194, 47, 47); 
}

.navbar-green {
    background: rgb(34, 94, 56); 
}
.navbar-maroon {
    background: rgb(100, 7, 7);
}
.cream {
    background: rgb(248, 245, 238);
}

.display-name h2 {
    margin-bottom: 0;
    color: rgb(42, 78, 101);
}
.location {
    color: rgb(72, 151, 212);
}

.navbar .nav > li > a {
    color:  white;
}

.carousel-image {
    max-height: 200px;
    width: auto;
}
.carousel-image-container {
    
}
.social-media-icon {
    height: 24px;
    width: 24px;
}
.social-media-icon-gmail {
    height: 18px;
    width: 24px;
}
.social-media-spacing {
    line-height: 2em;
}

.divider {
    margin-top: 2em;
    margin-bottom: 2em;

    padding-top: .2em;
    padding-bottom: .2em;
}
.l-box-header {
    padding-top: .2em;
    padding-bottom: .2em;
}
.gray {
    color: white;
    background: #c6c6c6;
}
.green {
    color: white;
    background: #65ae25;
}
#gallery {
    margin-top: 24px;
    margin-bottom: 24px;
}
.blurb {
    margin-top: 2em;
    margin-bottom: 2em;
}
