{% extends "base.html" %}

{% block content %}
    <div class="pure-g-r">
        {% if user.is_authenticated %}
            <div class="pure-u-1-5" id='sidebar'>
                <div class="pure-menu pure-menu-open" style="margin-top: 8px; margin-left: 16px;">
                    <ul>
                        <li class="pure-menu-heading">Events</li>
                        <li><a href="{% url 'posts_create' %}">Post the happs</a></li>
                        <li><a href="{% url 'posts_mine' %}">My Posts</a></li>
                        <li><a href="{% url 'listeners_profile' user.username %}">My Profile</a></li>
                        <li class="pure-menu-heading">Musician Profiles</li>
                        <li><a href="{% url 'musicians_register' %}">+ New Musician Profile</a></li>
                        {% for musician_profile in musician_profiles %}
                            <li><a href="{% url 'musicians_profile' musician_profile.username %}">
                                {{ musician_profile.display_name }}
                            </a></li>
                        {% endfor %}
                        <li class="pure-menu-heading">Venue Profiles</li>
                        <li><a href="">+ New Venue Profile</a></li>
                        {% for venue_profile in venue_profiles %}

                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}

        {% if user.is_authenticated %}
            <div class="pure-u-4-5">
        {% else %}
            <div class="pure-u-1">
        {% endif %}
                <div class="content-wrapper">
                    <div class="content-wrapper-margins">
                        <div class="pure-g-r">
                            <div class="pure-u-1">
                                {% block content-margins-menu %}{% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
{% endblock content %}
