{% extends "base.html" %}

{% block content %}
    <div class="pure-g-r">
        <div class="pure-u-1-5" id='sidebar'>
            <div class="pure-menu-open">
                <ul>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'posts_create' %}">Post the happs</a></li>
                        <li><a href="{% url 'users_listeners_profile' user.username %}">My Profile</a></li>
<!---                        <li class="pure-menu-heading">Musician Profiles</li>
                        <li><a href="">+ New Musician Profile</a></li>
                        <li class="pure-menu-heading">Venue Profiles</li>
                        <li><a href="">+ New Venue Profile</a></li>-->
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="pure-u-4-5">
            <div class="content-wrapper">
                <div class="content-wrapper-margins">
                    <div class="pure-g-r">
                        <div class="pure-u-1">
                            {% block content-margins-menu %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
