{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% get_media_prefix as MEDIA_PREFIX %}

<!doctype html>
<html lang="en">
<head> 
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>the happs</title>

    <script src="{{ STATIC_PREFIX }}js/jquery-1.10.2.min.js"></script>
    <script src="{{ STATIC_PREFIX }}js/portfolio.pack.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    {% block head %}{% endblock %}
    
    <link rel="stylesheet" type="text/css" href="http://necolas.github.io/normalize.css/2.1.3/normalize.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/base.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/tagit.css" />
    <link href="//fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet" type="text/css">

</head>
<body>
    <div class="wrapper">
    <div class="navbar navbar-inverse navbar-maroon" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'home' %}">the happs</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'musicians' %}">musicians</a></li>
                <li><a href="{% url 'venues' %}">venues</a></li>
                <li><a href="{% url 'listeners' %}">listeners</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'listeners_profile' user.username %}">{{ user.username }}</a></li>
                    <li><a href="{% url 'logout' %}">logout</a></li>
                {% else %}
                    <li><a href="{% url 'registration_login' %}">login</a></li>
                    <li><a href="{% url 'registration_register' %}">register</a></li>
                {% endif %}
            </ul>
        </div>
    </div>  

    <div class="content-wrapper">
        {% block content %}{% endblock %}
        <div class="content-wrapper-margins">
            {% block content-margins %}{% endblock %}
        </div>
    </div>
    </div>
 

    <div id="footer">
        We did it for the homie.
    </div>
    
    <script type="text/javascript" src="{{ STATIC_PREFIX }}lib/skrollr.min.js"></script>
    <script type="text/javascript">
        skrollr.init({
            forceHeight: false
        });
    </script>

    <script src="{{ STATIC_PREFIX }}js/base.js"></script>
    <script src="//use.edgefonts.net/didact-gothic;abel;questrial;cabin;wire-one.js"></script>
    <script src="{{ STATIC_PREFIX }}lib/less-1.5.0.min.js"></script>
    <script>
        $(document).ready(function() {
                var p = $("#gallery").portfolio({
                    loop: true,
                    height: '300px',
                    width: '100%',
                });
                p.init();
        });
    </script>
</body>
</html>
