{% extends "base.html" %}

{% block content-margins %}
    <div class="row">
        {% if user.is_authenticated %}
            <div class="col-sm-3" id='sidebar'>
                <ul class="nav nav-stacked">
                    <li>Events</li>
                    <li><a href="{% url 'posts_create' %}">Post the happs</a></li>
                    <li><a href="{% url 'posts_mine' %}">My Posts</a></li>
                    <li><a href="{% url 'listeners_profile' user.username %}">My Profile</a></li>
                    <li>Musician Profiles</li>
                    <li><a href="{% url 'musicians_register' %}">+ New Musician Profile</a></li>
                    {% for musician_profile in musician_profiles %}
                        <li><a href="{% url 'musicians_profile' musician_profile.username %}">
                            {{ musician_profile.display_name }}
                        </a></li>
                    {% endfor %}
                    <li>Venue Profiles</li>
                    <li><a href="">+ New Venue Profile</a></li>
                    {% for venue_profile in venue_profiles %}

                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if user.is_authenticated %}
            <div class="col-sm-9">
        {% else %}
            <div class="col-sm-12">
        {% endif %}
                <div class="content-wrapper">
                    <div class="content-wrapper-margins">
                        {% block content-margins-menu %}{% endblock %}
                    </div>
                </div>
            </div>
    </div>
{% endblock content-margins %}
