{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<html>

<head>
	<title>soundcollective</title>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>

	<link rel='stylesheet' href='{{ STATIC_PREFIX }}css/bootstrap.css'>
	<link rel='stylesheet' href='{{ STATIC_PREFIX }}css/base.css'>
</head>

<body>
	<div id='container-outer'>
		<div id='container-middle'>
				
			<div id='container'>
				<div id='text-logo'>
					sound</br>
					collective
				</div>

				<div id='outer'>
					<div id='middle'>
						<div class='navbar navbar-default'>
							<form class='navbar-form navbar-input-group' role='search'>
								<div class='form-group'>
									<input type='text' class='form-control' placeholder='enter location'>
								</div>
								<button type='button' class='btn btn-default'><span class='glyphicon-search glyphicon'></span>.</button>
							</form>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>

</body>

</html>