{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% get_media_prefix as MEDIA_PREFIX %}

<!doctype html>
<html lang="en">
<head> 
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>the happs</title>

    <script src="{{ STATIC_PREFIX }}js/jquery-1.10.2.min.js"></script>
    <script src="{{ STATIC_PREFIX }}js/portfolio.pack.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    {% block head %}{% endblock %}
    
    <link rel="stylesheet" type="text/css" href="http://necolas.github.io/normalize.css/2.1.3/normalize.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/base.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/tagit.css" />
    <link href="//fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet" type="text/css">

</head>
<body>
    <div class="navbar navbar-default navbar-red" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'home' %}">the happs</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'musicians' %}">musicians</a></li>
                <li><a href="{% url 'venues' %}">venues</a></li>
                <li><a href="{% url 'listeners' %}">listeners</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'listeners_profile' user.username %}">{{ user.username }}</a></li>
                    <li><a href="{% url 'logout' %}">logout</a></li>
                {% else %}
                    <li><a href="{% url 'registration_login' %}">login</a></li>
                    <li><a href="{% url 'registration_register' %}">register</a></li>
                {% endif %}
            </ul>
        </div>
    </div>  

    <div class="content-wrapper">
        {% block content %}{% endblock %}
        <div class="content-wrapper-margins">

        <!-- START OF MUSICIANPROFILE STUFF --> 
            <div class="row">
                <div class="col-sm-9">
                    
                    <div id="gallery">
                        <img data-src="{{ MEDIA_PREFIX }}images/common/gg1.jpg" >
                        <img data-src="{{ MEDIA_PREFIX }}images/common/gg2.jpg" >
                        <img data-src="{{ MEDIA_PREFIX }}images/common/gg3.jpg" >
                        <img data-src="{{ MEDIA_PREFIX }}images/common/gg4.jpg" >
                    </div>

                    <div class="row">
                        {% if embedded_player %}
                            <div class="col-sm-6">
                                {{ embedded_player|safe }}
                            </div>
                        {% endif %}
                        <div class="col-sm-6">
                            <div class="green l-box-header"><h4>&nbsp;&nbsp;Shows</h4></div>
                            <div>
                                {% for show in upcoming_shows %}
                                    <a href="{% url 'posts_post' show.post.id %}">{{ show.post.subject }}</a>
                                    <div class="pull-right">{{ show.post.date }}</div>
                                    <div>{{ show.post.location }}</div>
                                    <br />
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div>
                        {% if user.is_authenticated %}
                            {% include 'posts/shoutbox_post.html' %}
                        {% endif %}
                        {% for shoutbox_post in shoutbox %}
                            <div class="l-box">
                                <div class="row">
                                    <div class="col-md-3">
                                        <a href="{% url 'listeners_profile' shoutbox_post.created_by.user.username %}">
                                            <img src="{{ MEDIA_URL }}{{ shoutbox_post.created_by.profile_image.image }}" class="img-responsive" />
                                        </a>
                                    </div>
                                    <div class="col-md-9">
                                        <a href="{% url 'listeners_profile' shoutbox_post.created_by.user.username %}">
                                            <div class="wire-font">{{ shoutbox_post.created_by.display_name }}</div>
                                        </a>
                                        {{ shoutbox_post.body|urlize }}
                                    </div>
                                </div>
                            </div>                
                        {% endfor %}
                    </div>
                </div>
                <div class="col-sm-3">
                    <div><h2>{{ user_profile.display_name }}</h2></div>
                    <div>{{ user_profile.location }}</div>

                    <div class="blurb">
                        {% if user_profile.blurb %}
                            {{ user_profile.blurb }}
                        {% endif %}
                    </div>
                    {% if user_profile.contact_email %}
                        <div class="social-media-spacing">
                            <img class="social-media-icon-gmail" src="{{ MEDIA_PREFIX }}images/common/gmail.png" >
                            &nbsp;{{ user_profile.contact_email }}
                        </div>
                    {% endif %}
                    {% if user_profile.contact_email %}
                        <div class="social-media-spacing">
                            <img class="social-media-icon" src="{{ MEDIA_PREFIX }}images/common/twitter.png" >
                            &nbsp;{{ user_profile.contact_twitter }}
                        </div>
                    {% endif %}
                    {% if user_profile.contact_email %}
                        <div class="social-media-spacing">
                            <img class="social-media-icon" src="{{ MEDIA_PREFIX }}images/common/facebook.png" >
                            &nbsp;{{ user_profile.contact_facebook }}
                        </div>
                    {% endif %}
                    <div class="gray divider"><h4>&nbsp;&nbsp;related acts</h4></div>
                </div>
            </div>
        </div>
    </div>
 

    <div class="footer">
        We did it for the homie.
    </div>
    
    <script type="text/javascript" src="{{ STATIC_PREFIX }}lib/skrollr.min.js"></script>
    <script type="text/javascript">
        skrollr.init({
            forceHeight: false
        });
    </script>

    <script src="{{ STATIC_PREFIX }}js/base.js"></script>
    <script src="//use.edgefonts.net/didact-gothic;abel;questrial;cabin;wire-one.js"></script>
    <script src="{{ STATIC_PREFIX }}lib/less-1.5.0.min.js"></script>
    <script>
        $(document).ready(function() {
                var p = $("#gallery").portfolio({
                    loop: true,
                    height: '300px',
                    width: '100%',
                });
                p.init();
        });
    </script>
</body>
</html>
