<span class="games-home-partial panel panel-default">
	
	<div class="games-home-partial-image">
		<a href="{% url 'game_profile' game.id %}">
			{% if game.profile_image %}
				<img class='img-responsive' src="https://s3.amazonaws.com/gamedevlogs/{{ game.profile_image }}" alt="">
			{% else %}	
				<img class='img-responsive' src="https://s3.amazonaws.com/gamedevlogs/images/common/cam.png" alt="">
			{% endif %}
		</a>
	</div>
	<div class="games-home-partial-text">
		<a href="{% url 'game_profile' game.id %}">{{ game.title }}</a><br />
		by
		{% for developer in game.developers.all %}
			<a href="">{{ developer }}</a>
		{% endfor %}
	</div>
</span>