{% extends "base.html" %}

{% block content-margins %}
	
<form class="center-it"  enctype="multipart/form-data" action="" role="form" method="post">
    {% if form.errors %}
        <p class="errors">Please correct the errors below: {{ form.non_field_errors }}</p>
        {% for field, errors in form.errors.items %}
            {% for error in errors %}
                {{ error }}
            {% endfor %}
        {% endfor %}
    {% endif %}
    
    {% csrf_token %}

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="img-responsive input-profile-image">Upload new profile image</label>
                <img src="{{ MEDIA_PREFIX }}{{ form.instance.profile_image.image }}"/>
                {{ form.profile_image }}
            </div>
            <!--<a class="btn btn-primary" href="{% url "listeners_profile_image_list" user.username %}">Edit Images</a>-->
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="input-display-name">Name</label>
                {{ form.display_name }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="input-twitter">Twitter Username</label>
                {{ form.contact_twitter }}
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="input-location">Location</label>
                {{ form.location }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="input-facebook">Facebook Username</label>
                {{ form.contact_facebook }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">                           
                <label for="input-blurb">Blurb</label>
                {{ form.blurb }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">                           
                <label for="input-embedded_player">Embed a Music Player</label>
                {{ form.embedded_player }}
            </div>
        </div>
    </div>


    <button class="btn btn-primary btn-block" type="submit">Save</button>
</form>

    <div class="content">
        {{ form.instance.embedded_player|safe }}
    </div>
{% endblock content-margins %}
