{% extends "base.html" %}

{% block content-margins %}

<div class="row">
{% for object in object_list %}
    <div class="col-sm-4">
        <div class="l-box">
            <div class="media">
                <div class="pull-left">
                    <a href="{% url 'listeners_profile' object.user.username %}">
                        <img class="profile-list-image" src="{{ MEDIA_PREFIX }}{{ object.profile_image.image }}" alt="">
                    </a>
                </div>
                <div class="wire-font">
                    <a href="{% url 'listeners_profile' object.user.username %}">{{ object.display_name }}</a>
                </div>
                <div class="splash-subhead">
                    {{ object.location }}
                </div>
            </div>
        </div>
    </div>
    {% empty %}
        <div>No listeners yet! Turn on the music!</div>
    {% endfor %}
</div>

{% endblock content-margins %}
