{% extends "base.html" %}

{% block content-margins %}

<div class="pure-g-r">
{% for object in object_list %}
    <div class="pure-u-1-3">
        <div class="l-box">
            <a href="{% url 'users_listeners_profile' object.user.username %}">
                <img src="{{ MEDIA_PREFIX }}{{ object.profile_image.image }}" alt="">
            </a>
            <div class="wire-font">
                <a href="{% url 'users_listeners_profile' object.user.username %}">{{ object.display_name }}</a>
            </div>
            <div class="splash-subhead">
                {{ object.location }}
            </div>
        </div>
    </div>
    {% empty %}
        <div>No listeners yet! Turn on the music!</div>
    {% endfor %}
{% endblock content-margins %}
</div>
