{% extends "base.html" %}

{% block title %}Musician Registration{% endblock %}

{% block content %}
<div class="center-it registration-form">
    <div class="l-box">
        <form class="pure-form pure-form-stacked" method="post" action="">
            <h2>Create a Musician Profile</h2>
            {% if form.errors %}
                <p class="errors">Please correct the errors below: {{ form.non_field_errors }}</p>
            {% endif %}
            
            {% csrf_token %}
            
            <div class="form-group">
                {% if form.username.errors %}
                    <p class="errors">{{ form.username.errors.as_text }}</p>
                {% endif %}
                {{ form.username }}
            </div>

            <div class="form-group">
                {% if form.display_name.errors %}
                    <p class="errors">{{ form.display_name.errors.as_text }}</p>
                {% endif %}
                {{ form.display_name }}
            </div>

            <div class="form-group">
                {% if form.display_name.errors %}
                    <p class="errors">{{ form.location.errors.as_text }}</p>
                {% endif %}
                {{ form.location }}
            </div>

            <div class="form-group">
                {% if form.display_name.errors %}
                    <p class="errors">{{ form.genre.errors.as_text }}</p>
                {% endif %}
                {{ form.genre }}
            </div>

            <input class="btn btn-primary btn-block" type="submit" value="Register" style="margin-top: 16px;">
        </form>
    </div>
</div>
{% endblock %}
