{% extends "base.html" %}

{% block content %}
	
<form class="center-it registration-form" enctype="multipart/form-data" action="" role="form" method="post">
    {% if form.errors %}
        <p class="errors">Please correct the errors below: {{ form.non_field_errors }}</p>
        {% for field, errors in form.errors.items %}
            {% for error in errors %}
                {{ error }}
            {% endfor %}
        {% endfor %}
    {% endif %}
    
    {% csrf_token %}

    <div class="l-box splash-image">
        <div class="form-group">
            <label for="input-profile-image">Upload new profile image</label>
            <img src="{{ MEDIA_PREFIX }}{{ form.instance.profile_image.image }}"/>
            {{ form.profile_image }}
        </div>
        <a class="pure-button pure-button-primary" href="{% url "listeners_profile_image_list" user.username %}">Edit Images</a>
    </div>

    <div class="l-box splash-text">
        <div class="form-group">
            <label for="input-display-name">Name</label>
            {{ form.display_name }}
        </div>
        <div class="form-group">
            <label for="input-location">Location</label>
            {{ form.location }}
        </div>
        <div class="form-group">                           
            <label for="input-blurb">Blurb</label>
            {{ form.blurb }}
        </div>
        <div class="form-group">                           
            <label for="input-blurb">Embed a Music Player</label>
            {{ form.embedded_player }}
        </div>

        <button class="btn btn-primary btn-block" type="submit">Save</button>
    </div>
</form>

    <div class="content">
        {{ form.instance.embedded_player|safe }}
    </div>
{% endblock content %}
