{% extends "base.html" %}

{% block content-margins %}

{% for object in object_list %}
    <div class="pure-g-r">
        <div class="pure-u-1-3 l-box">
            <div class="pure-u-1-4">
                <a href="{% url 'users_listeners_profile' object.user.username %}">
                    <img src="{{ MEDIA_PREFIX }}{{ object.profile_image.image }}" alt="">
                </a>
            </div>
            <div class="pure-u-2-3">
                <div class="wire-font">
                    <a href="{% url 'users_listeners_profile' object.user.username %}">{{ object.display_name }}</a>
                </div>
                <div class="splash-subhead">
                    {{ object.location }}
                </div>
            </div>
        </div>
    </div>	
<!--{% include 'users/_list_partial.html' with profile=object %}-->
	{% empty %}
		<div>No listeners yet! Turn on the music!</div>
	{% endfor %}
{% endblock content-margins %}
