{% extends "base.html" %}

{% block content %}
	
    <div style="background: transparent url('{{ STATIC_PREFIX }}{{ user_profile.splash_image }}') no-repeat center center fixed;" class="splash" data-0="background-position:0px 0px;" data-100000="background-position:0px -50000px;">
        <form class='pure-form pure-form-aligned' enctype="multipart/form-data" action="" role='form' method='post'>
            {% if form.errors %}
                <p class="errors">Please correct the errors below: {{ form.non_field_errors }}</p>
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        {{ error }}
                    {% endfor %}
                {% endfor %}
            {% endif %}
            
            {% csrf_token %}

            <div class="pure-g-r">
                <div class="pure-u-1-3">
                    <div class="l-box splash-image">
                        <img src="{{ MEDIA_URL }}{{ form.instance.profile_image }}"/>
                        <a class="pure-button pure-button-primary" href="{% url 'users_listeners_profile_image_list' user.username %}">Edit Images</a>
                    </div>
                </div>

                <div class="pure-u-2-3">
                    <div class="l-box splash-text">
                        <div class='pure-control-group'>
                            <label for='input-display-name'>Name</label>
                            {{ form.display_name }}
                        </div>
                        <div class='pure-control-group'>
                            <label for='input-location'>Location</label>
                            {{ form.location }}
                        </div>
                        <div class='pure-control-group'>                           
                            <label for='input-blurb'>Blurb</label>
                            {{ form.blurb }}
                        </div>
                        <div class="pure-controls">
                            <button class="pure-button pure-button-primary" type="submit">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="content">
    	<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/57312073&amp;color=ff6600&amp;auto_play=false&amp;show_artwork=true"></iframe>
    </div>
{% endblock content %}
